body {
    background-color: black;
    width: 100vw;
    height: 97vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('/img/imageMap.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    backdrop-filter: brightness(1.4);
}

header {
    height: 8vh;
    width: 100%;
    background-color: black;
}

hr {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 2vh;
    border-color: #CE9704;
    background-color: #CE9704;
    margin: 0px;
    padding: 0px;
}

.main {
    height: 100%;
    width: 100%;


}

.background {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.background-1 {
    background-color: black;
    opacity: .65;
    width: 100%;
    height: 100%;

}


.main__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    gap: 20vw;
    position: fixed;
    z-index: 2;
    top: 200px;
    left: 6vw;
}

.main__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 5vw;
}

.main__text p {
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-size: 2vw;
    font-weight: 300;

}

.main__button-to {
    width: 20vw;
    min-width: max-content;
    background-color: #CE9704;
    padding: 1vw;
    font-family: 'Inter', sans-serif;
    font-size: 1vw;
    color: white;
    border-color: #CE9704;

}

.main__logo {
    background-image: url(/img/Reborn\ Realty\ Logo\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20vw;
    height: 20vw;
}

footer {
    height: 6vh;
    background-color: black;
}

footer p {
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-size: 1vw;
    margin-left: 2vw;
}

@media (max-width:900px) {

    .main__logo {
        width: 40vw;
        height: 40vw;
    }

    .main__info {
        justify-content: flex-end;
        margin: auto;
        gap: 5vw
    }

    .main__text {
        justify-content: flex-end;
        width: 36vw;

    }

    .main__text p {
        font-size: 2vw;
        width: 100%;

    }

    .main__button-to {
        font-size: 2vw;
        width: 35vw;
    }

    footer p {
        font-size: 12px;
    }

}

@media (max-width:500px) {
    .main__info {
        gap: 10vw;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        left: 0;
        top: 130px;
        justify-content: center;
        justify-items: center;

    }

    .main__logo {
        width: 40vw;
        height: 40vw;
    }

    .main__text {
        width: 90vw;
        align-items: center;
        margin: auto;
        padding: 0px;
    }

    .main__text p {
        font-size: 14px;
        margin: 5vw auto;
        font-weight: 500;
        text-align: center;
        font-size: 16px;
    }

    .main__button-to {
        font-size: 16px;
    }

    footer p {
        font-size: 12px;
    }
}

@media (max-height:700px) {
    .main__info {
        height: 50vh;
        gap: 10vw;
        width: 100vw;
        justify-content: space-around;
        left: 40px;
        top: 80px;


    }

    .main__logo {
        width: 50vh;
        height: 50vh;
    }

    .main__button-to {
        font-size: 16px;
    }

    footer p {
        font-size: 12px;
    }

    .main__text {
        gap: 5vh;
        margin: 0 auto;
        padding: 0px;
    }

    .main__text p {
        font-weight: 500;
        text-align: left;
        font-size: 16px;
    }


}